html, body {
	padding:0;
	margin:0;
}

#container {
	position: relative;
	padding:0;
	margin:0;
	padding-left:200px;
	padding-right:200px;
	height:100vh;
	overflow:hide;
}

#container>div {
	margin-top:0;
	margin-bottom:0;
	float:left;
	height:100%;
}

.toolbar {
	width:200px;
}

.menu {
	float:left;
	margin-right:-200px;
}

.toolset {
	margin:5px;
	padding-left:0;
}

.toolset h3 {
	margin:0;
}

.menu li {
	list-style-type:none;
}

.menu ul {
	text-indent:0;
}

.menu input[type="number"] {
	width:30px;
}

.page {
	float:left;
	margin-left:-200px;
}

.editor {
	width:100%;
	text-align:center;
	background:#eee;
}

.canvas-bg {
	display:inline-block;
	outline:1px solid #ccc;
	background:#fff;
	padding:0;
	margin:0;
}

.canvas-container {
	margin:0 auto;
}
