/*@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);*/
@canvas-width:      400px;
@canvas-height:     600px;
@bg-color:          #ddd;
@bg-tint:            lighten(@bg-color, 10%);
@bg-color-darker:         darken(@bg-color, 10%);
@bg-color-darkest:         darken(@bg-color, 40%);
@corner-radius:     5px;
@outset-shadow:     -1px 0px 1px @bg-color-darkest;
@inset-shadow:      inset 0px 0px 1px @bg-color-darkest;
@icon-color:        #444;
@icon-color-darker: darken(@icon-color, 40%);
@font-color:        #222;


html, body {
	padding:0;
	margin:0;
  font-family: 'PT Sans', sans-serif;
  font-size:95%;
  color:@font-color;
}

#container {
	position: relative;
	padding:0;
	margin:0;
	padding-left:200px;
	padding-right:200px;
	height:100vh;
	overflow:hide;

	> div {
  	margin-top:0;
  	margin-bottom:0;
  	float:left;
  	height:100%;
  }

  #navigator, #toolbar {
  	width:200px;
	  height:100vh;
  }
}

#navigator {
	float:left;
	margin-left:-200px;

	> div {
		overflow-y: scroll;
		position:relative;
	  text-align:center;
		height:100%;

    .page-thumb {
      width: 120px;
      height: 180px;
      background-color: @bg-tint;
      margin: 15px auto;
      outline:1px solid @bg-color-darker;
      position:relative;

      a.remove-page {
        display:none;
        position:absolute;
        top:2px;
        right:3px;
      }
    }
    .page-thumb:hover a.remove-page {
      display:inline-block;
    }


    .add-page-button {
      position: absolute;
      color: #666;
      bottom: 15px;
      left: 15px;
      background-color: white;
      padding: 5px 10px;
      border-radius: @corner-radius;
      box-shadow: 0px 0px 3px @bg-color-darkest;
    }

    .add-page-button:hover {
      box-shadow: 0px 0px 5px @bg-color-darkest;
    }
	}

}

#editor {
	width:100%;
	text-align:center;
	background:@bg-color;
	position:relative;

  #page {
	  margin-top:20px;
	  vertical-align:middle;
    display:inline-block;
    width:@canvas-width;
    height:@canvas-height;

    canvas {
      width:100%;
      height:100%;
    }
  }

  .canvas-bg {
    background:#fff;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    outline:1px solid @bg-color-darker;
  }

  .canvas-container {
    margin:0 auto;
  }

  .previous-page ,
  .next-page {
	  vertical-align:middle;
    top: 50%;
    margin-top: -50px;
    display:inline-block;

    a {
      line-height: 30px;
      display:inline-block;
      width: 20px;
      text-align: center;
      color: #666;
      box-shadow: @outset-shadow;
      background-color: white;
    }
  }

  .previous-page a {
    border-top-left-radius: @corner-radius;
    border-bottom-left-radius: @corner-radius;
    margin-right:10px;
  }

  .previous-page a:hover {
  }

  .next-page a {
    border-top-right-radius: @corner-radius;
    border-bottom-right-radius: @corner-radius;
    margin-left:10px;
  }

  .next-page a:hover {
  }
}

#toolbar {
	width:200px;
	float:left;
	margin-right:-200px;

	> .title {
  		font-size: 20px;
  		padding: 10px;
  	}

  	.toolset {
      box-shadow: 0px 1px 1px @bg-color-darker;
      margin-bottom:2px;
  		> .title {
  			padding: 5px 10px;
  			/*border-top: 2px solid @bg-color-darker;*/
  		  background-color:@bg-tint;
  		}

  		.tools {
  			padding: 5px 10px;


  			input[type="number"] {
        	width:30px;
        }
  		}

  		.tools a {
  			display: inline-block;
  			padding: 4px;
  			margin:3px;
  			border-radius: @corner-radius;
  			color: @icon-color;
  		}

  		.tools a:hover {
  			background-color: white;
  			box-shadow: @inset-shadow;
  			color: @icon-color-darker;
  		}

  		.tools a.current {
  		  background-color:@bg-tint;
  		}
  	}
}

div.ui.popup {
  padding:3px 7px 3px 3px;
}
